name: Docs
on:
  push:
    branches: [ master, main, '**docs' ]
env:
  SITE_DIR: 'site'
jobs:
  build_site:
    name: "Build site with Antora"
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Set up environment variables
        run: echo "BASE_URL=$BASE_URL" >> $GITHUB_ENV
        env:
          PROJECT_URL: ${{ github.server_url }}/${{ github.repository }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: "Install Node 16"
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: "Install Antora"
        run: make install-antora
      - name: "Generate site using antora site action"
        run: make build-site

#      - name: "Generate site using antora site action"
#        uses: kameshsampath/antora-site-action@master
#        with:
#          antora_playbook: antora-playbook.yml
##          site_sources_path: "${{ github.workspace }}build/${{ env.SITE_DIR }}"
##          antora_generator: 'antora-site-generator-lunr'
#          antora_docsearch_enabled: 'true'

      - name: "Upload generated site"
        uses: actions/upload-artifact@v4
        with:
          name: site
          path: "${{ github.workspace }}/build/${{ env.SITE_DIR }}"

  deploy_site:
    runs-on: [ ubuntu-latest ]
    needs: [ build_site ]
    name: "Deploy GitHub Pages"
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: 'true'
    steps:
      - name: "Install Node 16"
        uses: actions/setup-node@v4
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download generated site
        uses: actions/download-artifact@v4
        with:
          name: site
          path: "${{ github.workspace }}/${{ env.SITE_DIR }}"
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          # ACCESS_TOKEN: # optional
          GITHUB_TOKEN: "${{ github.token}}"
          FOLDER: "${{ env.SITE_DIR }}"
          BRANCH: 'gh-pages'
          COMMIT_MESSAGE: "[CI] Publish Documentation for ${{ github.sha }}"
